<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742510875101-73f44sc4fquvm79kfrffn616n9of6bjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742510875101-73f44sc4fquvm79kfrffn616n9of6bjf</string>
	<key>API_KEY</key>
	<string>AIzaSyBK24_MCItpGsSIevjJwOfXkUxmzfzsUd0</string>
	<key>GCM_SENDER_ID</key>
	<string>742510875101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliapps.UberUikit</string>
	<key>PROJECT_ID</key>
	<string>uberclone-6afdf</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-6afdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742510875101:ios:a78d28f8ee55b28094a634</string>
</dict>
</plist>